.container {
  background: #000;
}

.container > section {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.linkLeft,
.linkRight {
  color: #ffffff;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 14px;
  margin-right: 26px;
}

.linkRight:last-child {
  margin-right: 0;
}
