.container {
  padding-top: 2rem;
}

.nameContainer + div {
  margin-top: 1rem;
}

.nameContainer {
  margin-bottom: 1rem;
}

.nameContainer [class*='productNameContainer'],
.nameContainer [class*='productBrand'] {
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 34px;
  text-align: left;
}

.priceContainer div[class*='listPriceLabel'],
.priceContainer div[class*='listPriceValue'] {
  color: #a1a6ad;
  font-size: 1rem;
  font-weight: 600;
  line-height: 19px;
}

.priceContainer div[class*='sellingPriceLabel'] {
  color: #142032;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 24px;
}

.priceContainer div[class*='sellingPrice '] {
  color: #142032;
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 2.25rem;
  margin-bottom: 5px;
}

.priceContainer div[class*='installmentsPrice'],
.priceContainer div[class*='installmentsPrice'] span,
.priceContainer div[class*='savingPriceValue'] {
  color: #a1a6ad;
  font-size: 1rem;
  font-weight: 600;
  line-height: 19px;
}

.detailsContainer button:global(.vtex-button.t-action) {
  width: auto;
  border-radius: 4px;
  background-color: #000000;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  height: 48px;
  text-align: center;
  border: none;
  text-transform: capitalize;
  margin-top: -20px;
}

.informationsContainerph5 > :global(.flex.justify-between) {
  display: block;
}

.informationsContainerph5 :global(.t-heading-5) {
  color: #142032;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 20px;
}

.informationsContainerph5 [class*='productDescriptionContainer'] {
  color: #142032;
  font-size: 0.875rem;
  line-height: 24px;
}

.informationsContainerph5 [class*='productDescriptionContainer'] :global(.relative) {
  height: auto !important;
  overflow: initial !important;
}

.informationsContainerph5 [class*='pointerEventsNone'] {
  display: none;
}

.informationsContainerph5 [class*='specificationsTableContainer'] {
  padding: 0;
}

.informationsContainerph5 [class*='specificationsTable'] {
  margin-top: 14px;
}
