.vtex-footer,
.vtex-footer__container {
  border: none;
  background-color: #000000;
  color: #ffffff;
}

.vtex-footer {
  padding-top: 0;
  padding-bottom: 0;
}

.vtex-footer__container a {
  color: #ffffff;
  font-size: 14px;
}

.vtex-footer__accordion-title,
.vtex-footer__list-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  text-transform: uppercase;
}

.vtex-footer__matrix-item--small {
  border: none;
}
.vtex-footer__list-container {
  max-width: 360px;
}

.vtex-footer__social-networks-container .vtex-footer__list {
  padding-top: 15px;
}

.ReactCollapse--content {
  padding-top: 10px;
  padding-bottom: 30px;
}

.vtex-footer__matrix-item--small {
  padding-top: 4px;
  padding-bottom: 4px;
}

.vtex-footer__payment-matrix-item {
  width: 100%;
}
.vtex-footer__payment-matrix-item:first-child {
  padding-bottom: 10px;
}

.vtex-footer__text-information {
  width: 90%;
  color: #a1a6ad;
  font-family: 'Zilla Slab';
  font-size: 12px;
  line-height: 14px;
}

.vtex-footer__social-networks-container {
  padding-top: 10px;
}

@media screen and (min-width: 100em) {
  .vtex-footer__container {
    width: 90%;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 40em) {
  .vtex-footer__social-networks-container {
    padding-top: 2px;
  }

  .vtex-footer {
    margin-top: 100px;
  }

  .vtex-footer {
    padding: 16px;
  }

  .vtex-footer__payment-matrix-container {
    margin-top: 24px;
  }

  .vtex-footer__text-information p {
    padding-bottom: 0;
  }

  .vtex-footer__payment-matrix-item {
    width: auto;
  }

  .vtex-footer__payment-matrix-container .vtex-footer__matrix-item {
    margin-right: 30px;
  }

  .vtex-footer__payment-matrix-container .vtex-footer__list-title {
    margin-bottom: 22px;
  }

  .vtex-footer__payment-matrix-item:first-child {
    padding-bottom: 0;
  }
}
