.vtex-login__content-container,
.vtex-login__arrow-up {
  border: 1px solid #e3e4e6;
  box-shadow: none;
}

.vtex-login__form-title {
  color: #a1a6ad;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 24px;
  padding-top: 0;
  color: #142032;
  font-family: 'Zilla Slab';
  font-size: 0.875rem;
  font-weight: 600;
}

.vtex-login__button .vtex-button {
  border: 1px solid #e3e4e6;
  border-radius: 4px;
  background-color: #ffffff;
  color: #142032;
  font-family: 'Zilla Slab';
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: none;
}

.vtex-login__box .vtex-input-prefix__group input {
  height: 44px;

  border: 1px solid #e3e4e6;
  border-radius: 4px;
  background-color: #ffffff;
}

.vtex-login__box .vtex-login__send-button .vtex-button {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  height: 44px;
  border-radius: 4px;
  background-color: #000000;
  border: none;
}

.vtex-login__box .blue {
  color: #000000;
}

.vtex-login__box .vtex-login__back-button .vtex-button {
  height: 44px;
  color: #142032;
  font-size: 1rem;
  line-height: 19px;
}

.vtex-login__label {
  color: #142032;
  font-size: 1rem;
  font-weight: 600;
  line-height: 19px;
  text-transform: capitalize;
}

.vtex-login__container svg {
  color: #142032;
}
