.vtex-menu {
  background: #000000;
  height: 31px;
}
.vtex-menu a {
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  margin-right: 26px;
}

.vtex-menu a:last-child {
  margin-right: 0;
}

.vtex-menu nav {
  width: 90%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: 0 auto;
}

.vtex-menu .items-center {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.vtex-top-menu__search-bar input {
  border: none;
  border-bottom: solid 1px #000000;
  padding: 15px 18px !important;
}

.vtex-category-menu__item a {
  color: #142032;
  font-weight: 600;
  font-family: 'Zilla Slab', serif;
}

.vtex-minicart__label,
.vtex-login__label {
  color: #142032;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  text-transform: capitalize;
}

.vtex-minicart svg,
.vtex-login__container svg {
  color: #142032;
}

.vtex-minicart__bagde {
  background-color: #142032;
  line-height: 15px;
}

.vtex-category-menu--mobile {
  margin-left: -0.75rem;
}

.vtex-top-menu {
  padding-left: 8px;
  padding-right: 8px;
}

.vtex-login__content-container,
.vtex-login__arrow-up {
  border: 1px solid #e3e4e6;
  box-shadow: none;
}

.vtex-login__form-title {
  color: #a1a6ad;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  padding-top: 0;
  color: #142032;
  font-family: 'Zilla Slab';
  font-size: 14px;
  font-weight: 600;
}

.vtex-login__button .vtex-button {
  border: 1px solid #e3e4e6;
  border-radius: 4px;
  background-color: #ffffff;
  color: #142032;
  font-family: 'Zilla Slab';
  font-size: 14px;
  font-weight: 600;
  text-transform: none;
}

.vtex-login__box .vtex-input-prefix__group input {
  height: 44px;

  border: 1px solid #e3e4e6;
  border-radius: 4px;
  background-color: #ffffff;
}

.vtex-login__box .vtex-login__send-button .vtex-button {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  height: 44px;
  border-radius: 4px;
  background-color: #000000;
  border: none;
}

.vtex-login__box .blue {
  color: #000000;
}

.vtex-login__box .vtex-login__back-button .vtex-button {
  height: 44px;
  color: #142032;
  font-size: 16px;
  line-height: 19px;
}

@media screen and (min-width: 40em) {
  .vtex-top-menu {
    height: 80px;
    padding-left: 0;
    padding-right: 0;
  }

  .vtex-top-menu__logo {
    max-width: 169px;
  }

  .vtex-top-menu__search-bar {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
  .vtex-top-menu__icons .mr7-m {
    margin-right: 0.5rem;
  }
}
