.vtex-category-menu__item a {
  color: #142032;
  font-weight: 600;
}

.vtex-category-menu__item a.b--heavy-blue {
  border-bottom-color: #142032 !important;
}

.vtex-category-menu__item .vtex-category-menu__link-level-2 {
  color: #142032;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.vtex-category-menu__item .vtex-category-menu__link-level-3 {
  color: #a1a6ad;
  font-size: 12px;
  line-height: 30px;
  padding-top: 0;
  padding-bottom: 0;
}

.vtex-category-menu__item span.b--light-gray {
  display: none;
}

.vtex-category-menu__item-container {
  border: none;
}

.vtex-menu-sidebar__header {
  box-shadow: none;
  border-bottom: #e3e4e6 solid 1px;
}
.vtex-menu-sidebar__content span {
  border: none;
}
