.vtex-minicart__box .vtex-minicart__content {
  padding: 18px 30px 0 30px;
}

.vtex-minicart__box .vtex-minicart-content__footer {
  padding: 10px 30px 30px 30px;
}
.vtex-minicart__box .vtex-product-name__brand {
  color: #142032;
  font-size: 14px;
  font-weight: 600;
  padding: 0;
}

.vtex-minicart__box .vtex-product-name__sku {
  color: #142032;
  font-family: 'Zilla Slab';
  font-size: 12px;
  line-height: 14px;
  padding: 0;
}

.vtex-minicart__box .vtex-price-selling {
  font-size: 16px;
}

.vtex-minicart__box .vtex-minicart__item-name {
  margin-bottom: 15px;
}

.vtex-minicart__box .vtex-minicart__img-container {
  width: 80px;
  height: 80px;
  max-width: 80px;
  max-height: 80px;
}

.vtex-minicart__box .vtex-minicart__item {
  height: auto;
}

.vtex-minicart__box .vtex-minicart-content__footer .vtex-button {
  color: #ffffff;
  height: 48px;
  padding: 0;
  border-radius: 4px;
  background-color: #000000;
  border: none;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  margin-top: 10px;
}

.vtex-minicart__box .vtex-minicart__content-discount span,
.vtex-minicart__box .vtex-minicart__content-discount .vtex-price-selling {
  font-weight: 600;
  color: #142032;
}

.vtex-minicart__box .vtex-minicart__content-price {
  margin: 0;
}

.vtex-minicart__box .vtex-minicart-content__footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.vtex-minicart__box .vtex-minicart__content-price,
.vtex-minicart__box .vtex-minicart__content-discount {
  width: 50%;
}

.vtex-minicart__content-discount {
  justify-content: flex-start;
}

.vtex-minicart__box .vtex-price-selling__container {
  text-align: right;
}

@media only screen and (min-width: 40em) {
  .vtex-minicart__box {
    width: 400px;
  }

  .vtex-minicart__box .vtex-minicart__item > div:first-child {
    padding-left: 0;
    padding-right: 0;
  }
}
