.vtex-product-details,
.vtex-breadcrumb {
  max-width: 1308px;
  margin: 0 auto;
}

.vtex-product-image__horizontal {
  width: 100%;
}

.vtex-product-details .vtex-product-name__brand {
  color: #142032;
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 43px;
  margin-bottom: 20px;
  padding: 0;
  text-align: center;
}

.vtex-product-details .vtex-price-list__label,
.vtex-product-details .vtex-price-list {
  color: #a1a6ad;
  font-size: 1rem;
  font-weight: 600;
  line-height: 19px;
}

.vtex-product-details__price-container {
  text-align: center;
}

.vtex-product-details .vtex-price-selling__label {
  color: #142032;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 24px;
}

.vtex-product-details .vtex-price-selling {
  color: #142032;
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 43px;
}

.vtex-product-details .vtex-price-savings,
.vtex-product-details .vtex-price-installments__value,
.vtex-product-details .vtex-price-installments {
  color: #a1a6ad;
  font-size: 1rem;
  font-weight: 600;
  line-height: 19px;
}

.vtex-product-details__price-container {
  margin-bottom: 10px;
}

.vtex-sku-selector__variation {
  font-size: 0.875rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.vtex-sku-selector__variation .b {
  font-size: 0.875rem;
  font-weight: 600;
}

.vtex-sku-selector__item {
  height: 50px;
  width: 50px;
  border: 1px solid #e3e4e6;
  border-radius: 4px;
  background-color: #ffffff;
}

.vtex-sku-selector__item.b--blue {
  border: 1px solid #000000;
}

.vtex-sku-selector__item:hover {
  border-radius: 4px;
  border: 1px solid #000000;
}

.vtex-sku-selector {
  text-align: center;
  margin-top: 8px;
}

.vtex-product-details button {
  width: 100%;
  border-radius: 4px;
  background-color: #000000;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  height: 48px;
  text-align: center;
  border: none;
  text-transform: capitalize;
  margin-top: 8px;
  margin-bottom: 8px;
}

.vtex-product-details button:hover {
  background-color: #000000;
  color: #ffffff;
}

.vtex-shipping-simulator,
.vtex-shipping-simulator .vtex-input,
.vtex-shipping-simulator__zipcode-label {
  display: flex;
  align-items: center;
  height: 40px;
}

.vtex-shipping-simulator .vtex-input input {
  height: 40px;
  max-width: 165px;
  border: 1px solid #e3e4e6;
  border-radius: 4px;
  margin-left: 10px;
}

.vtex-shipping-simulator__zipcode-label {
  color: #a1a6ad;
  font-family: 'Zilla Slab';
  font-size: 0.875rem;
  line-height: 24px;
}

.vtex-shipping-simulator .vtex-button {
  margin-left: 10px;
  height: 40px;
  width: 79px;
  border-radius: 4px;
  background-color: #000000;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  line-height: 19px;
  text-transform: capitalize;
}

.vtex-shipping-table {
  margin-top: 10px;
  width: 100%;
  max-width: 375px;
  border: 1px solid #d8d8d8;
}

.vtex-shipping-table__shipping-name-label,
.vtex-shipping-table__cell {
  font-size: 0.875rem;
  line-height: 24px;
  font-weight: normal;
}

.vtex-share {
  margin-bottom: 10px;
}

.vtex-product-description .f4 {
  color: #142032;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 35px;
}

.vtex-product-description .measure-wide {
  color: #142032;
  font-size: 0.875rem;
  line-height: 24px;
}

.vtex-product-specifications {
  margin-top: 60px;
}

.vtex-product-specifications__table {
  border: 1px solid #d8d8d8;
}

.vtex-product-specifications__table th,
.vtex-product-specifications__table td {
  padding: 10px;
}

.vtex-product-specifications__specification-name {
  font-size: 0.875rem;
  font-weight: normal;
  text-align: left;
  border: none;
}

.vtex-product-specifications__specification-values {
  font-size: 0.875rem;
  font-weight: normal;
}

@media screen and (min-width: 40em) {
  .vtex-product-details .vtex-product-name__brand {
    text-align: left;
  }

  .vtex-product-details__price-container {
    text-align: left;
  }

  .vtex-sku-selector {
    text-align: left;
  }

  .vtex-product-details button {
    text-align: center;
    max-width: 180px;
  }
}
