.vtex-shelf__title-text {
  font-weight: 600;
}

.vtex-product-summary:hover {
  border: none;
  box-shadow: none;
}

.vtex-product-summary__image-container {
  max-height: 216px;
  max-width: 216px;
}

.vtex-discount-badge div.absolute {
  height: 24px;
  width: 60px;
  background-color: #000000;
  right: -30px;
}

.vtex-product-summary__name-container {
  color: #142032;
  font-family: 'Zilla Slab';
  font-size: 0.875rem;
  line-height: 24px;
  text-align: center;
  height: auto;
}

.vtex-product-summary__buy-button {
  width: 100%;
}

.vtex-product-summary__buy-button button {
  width: 100%;
  border-radius: 4px;
  background-color: #000000;
  color: #ffffff;
  font-family: 'Zilla Slab';
  font-size: 1rem;
  font-weight: 600;
  height: 48px;
  text-align: center;
  border: none;
  text-transform: capitalize;
  max-width: 216px;
}

.vtex-product-summary__buy-button button:hover {
  background-color: #000000;
  color: #ffffff;
}

.vtex-product-name__brand {
  font-size: 0.875rem;
}

.vtex-price-list__label,
.vtex-price-list {
  font-weight: 600;
  font-style: 14px;
  color: #a1a6ad;
  text-decoration: none;
}

.vtex-price-selling__label,
.vtex-price-selling {
  color: #142032;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 24px;
}

.vtex-price-installments {
  font-size: 0.875rem;
  line-height: 24px;
  color: #142032;
}
