.vtex-page-padding {
  margin: 0 auto;
}

.vtex-search-result__order-by label > div {
  border: none;
}

.vtex-search-result__order-by .vtex-dropdown__caption {
  color: #142032;
  font-size: 1rem;
  font-weight: 600;
  line-height: 19px;
}

.vtex-search-result__filter {
  padding-left: 15px;
  padding-right: 15px;
}

.vtex-search-result__order-by .vtex-dropdown__arrow {
  color: #142032;
}

.vtex-search-result__filter-title {
  color: #142032;
  font-size: 1rem;
  font-weight: 600;
  line-height: 19px;
}

.vtex-search-result__filters .ReactCollapse--content {
  padding: 10px 0 24px;
}

.vtex-search-result__filters .ReactCollapse--content a span {
  color: #a1a6ad;
  font-size: 0.875rem;
  line-height: 24px;
  text-transform: capitalize;
}

.vtex-search-result__filters .ReactCollapse--content a:hover span {
  text-decoration: underline;
  color: #142032;
}

.vtex-search-result__filter {
  border: none;
}

.vtex-search-result__total-products {
  color: #a1a6ad;
  font-weight: bold;
  border-bottom: 1px solid #e3e4e6;
}

.vtex-search-result__border {
  height: 100%;
}

@media only screen and (min-width: 40em) {
  .vtex-search-result__total-products {
    padding: 0;
    border: none;
  }

  .vtex-search-result__filters {
    margin-top: 30px;
  }

  .vtex-search-result__gallery {
    margin-top: 30px;
  }

  .vtex-search-result__order-by label > div {
    border: 1px solid #e3e4e6;
    border-radius: 4px;
  }

  .vtex-search-result__order-by .vtex-dropdown__caption {
    font-weight: normal;
  }
}
